body {
	background-color: #333;
	margin: 0;
	height: 100dvh;
	width: 100dvw;
}

#canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(3);
	image-rendering: pixelated;
}

